/*Variables */
/* Global Reset */
* {
  margin: 0;
  padding: 0; }

/* General */
html, body {
  width: 100%;
  height: 100%; }

body {
  background: #fff;
  color: #444;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #333; }

p {
  margin: 1em 0; }

small {
  font-size: 50%; }

p, small, blockquote {
  -webkit-font-smoothing: antialiased; }

ul li {
  list-style-type: circle; }

ol li {
  list-style-type: decimal; }

a {
  color: #000; }

a:hover {
  color: #444; }

header {
  width: 100%;
  background: #303030; }
  header .h-wrap {
    padding-top: 40px;
    text-align: center; }
    header .h-wrap h1.title {
      font-family: 'Alfa Slab One', cursive;
      font-size: 300%;
      display: inline-block;
      margin: 0;
      padding: 0;
      font-weight: normal; }
      header .h-wrap h1.title a {
        font-weight: 400;
        color: White;
        text-decoration: none; }
  header .icons-list {
    padding-bottom: 30px;
    font-size: 150%;
    text-align: center;
    letter-spacing: 10px; }
    header .icons-list a {
      color: White;
      text-decoration: none; }
      header .icons-list a:hover {
        color: Yellow; }

#off-canvas {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  max-height: 0;
  overflow: hidden;
  padding: 0px 40px;
  background: #fff;
  -webkit-transition: max-height .35s ease,  padding-top .35s ease,  padding-bottom .35s ease,  border-width .35s ease;
  transition: max-height .35s ease,  padding-top .35s ease,  padding-bottom .35s ease,  border-width .35s ease; }
  #off-canvas #bio {
    width: 70%;
    max-width: 720px;
    display: block; }
    #off-canvas #bio h1 {
      font-size: 140%;
      margin-top: 0; }
    #off-canvas #bio p {
      line-height: 160%;
      font-size: 100%;
      margin-bottom: 0; }
  #off-canvas #avatar {
    float: right;
    display: block;
    margin-left: 10px;
    margin-bottom: 5px; }
    #off-canvas #avatar img {
      width: 150px;
      border-radius: 50%; }

#off-canvas.toggled {
  max-height: 90%;
  padding: 40px;
  border-width: 1px;
  -webkit-transition: max-height .35s ease,  padding-top .35s ease,  padding-bottom .35s ease,  border-width .35s ease;
  transition: max-height .35s ease,  padding-top .35s ease,  padding-bottom .35s ease,  border-width .35s ease; }

section#content-section {
  width: 100%;
  max-width: 870px;
  margin: 20px auto;
  font-family: "Open Sans", sans-serif;
  background: #fff;
  z-index: 1; }
  section#content-section .single-content {
    padding: 0 40px;
    overflow: hidden; }
  section#content-section .feat {
    text-align: center;
    border-bottom: 1px dotted #E0E1E6;
    margin: 0 20px 50px; }
    section#content-section .feat a.popup {
      display: inline-block;
      position: relative;
      top: 15px;
      background: #fff;
      font-size: 24px;
      text-align: center;
      text-decoration: none;
      padding: 0 25px;
      transition: all .2s ease;
      -webkit-transition: all .2s ease; }
  section#content-section h5.page-date {
    display: inline-block;
    position: relative;
    top: 11px;
    background: #fff;
    font-size: 85%;
    text-align: center;
    font-weight: normal;
    font-style: italic;
    padding: 0 20px; }
  section#content-section #share {
    margin: 50px 20px; }
    section#content-section #share a:hover {
      color: #4099FF; }
  section#content-section h1.page-title {
    font-size: 180%;
    line-height: 135%;
    text-align: center;
    /*margin: 0 0 60px;*/
    padding: 10px 0 0 0; }
  section#content-section p {
    padding: 0 40px;
    color: Black;
    line-height: 160%; }
    section#content-section p a {
      color: #667EFC;
      text-decoration: none;
      border-bottom: 1px dashed; }
      section#content-section p a:hover {
        border-bottom: 1px solid; }
  section#content-section ul, section#content-section ol {
    padding: 10px 80px; }
    section#content-section ul a, section#content-section ol a {
      color: #667EFC;
      text-decoration: none;
      border-bottom: 1px dashed; }
      section#content-section ul a:hover, section#content-section ol a:hover {
        border-bottom: 1px solid; }
    section#content-section ul li, section#content-section ol li {
      margin-bottom: 15px; }
  section#content-section h1, section#content-section h2, section#content-section h3, section#content-section h4, section#content-section h5, section#content-section h6 {
    padding: 30px;
    margin-top: 40px;
    font-family: "Lora", Georgia, serif; }
  section#content-section h1 {
    font-size: 150%; }
  section#content-section h2 {
    font-size: 140%; }
  section#content-section h3 {
    font-size: 130%; }
  section#content-section h4 {
    font-size: 120%; }
  section#content-section h5 {
    font-size: 110%; }
  section#content-section h6 {
    font-size: 100%; }
  section#content-section blockquote {
    font-size: inherit;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    border-left: 6px solid #39f;
    padding: 0 34px;
    margin: 40px 0;
    line-height: 165%; }
    section#content-section blockquote p {
      padding-left: 0 !important;
      padding-right: 0 !important; }
  section#content-section img {
    width: 100%;
    height: 100%;
    padding: 15px 0; }
  section#content-section pre, section#content-section code {
    overflow: scroll; }
  section#content-section code {
    font: 85% Consolas, "Liberation Mono", Menlo, Courier, monospace;
    background-color: rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    padding: 0 5px; }
  section#content-section .highlight code {
    background-color: #fff;
    padding-left: 0px;
    padding-right: 0px; }

/* Footer */
footer {
  padding: 40px;
  text-align: center; }
  footer small {
    font-family: 'Alfa Slab One', cursive;
    color: #C4C4C4;
    text-transform: uppercase; }

/* Font-icons */
@font-face {
  font-family: 'icomoon';
  src: url("../assets/fonts/icomoon.eot?k26q4");
  src: url("../assets/fonts/icomoon.eot?#iefixk26q4") format("embedded-opentype"), url("../assets/fonts/icomoon.woff?k26q4") format("woff"), url("../assets/fonts/icomoon.ttf?k26q4") format("truetype"), url("../assets/fonts/icomoon.svg?k26q4#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-profile:before {
  content: "\e600"; }

.icon-briefcase:before {
  content: "\e601"; }

.icon-mail:before {
  content: "\e602"; }

.icon-twitter:before {
  content: "\e605"; }

.icon-twitter2:before {
  content: "\e606"; }

.icon-feed:before {
  content: "\e603"; }

.icon-github:before {
  content: "\e604"; }

/*****************************************************************************/
/*
/* Posts List
/*
/*****************************************************************************/
ul.posts {
  color: #fff;
  overflow: hidden; }

ul.posts li:nth-child(odd) {
  border-left: 10px solid #4ECDC4; }

ul.posts li:nth-child(even) {
  border-left: 10px solid #C7F464; }

ul.posts li .p-wrap {
  padding: 50px 40px;
  transition: all .15s ease-in; }

ul.posts li .p-wrap:hover {
  background: #F8FF69; }

ul.posts li .p-wrap:active {
  background: #444;
  color: #fff; }

ul.posts li .p-wrap:hover::after {
  content: '\2192';
  margin-left: 10px; }

ul.posts li .p-wrap p {
  display: inline;
  margin-bottom: 0; }

ul.posts li .date {
  padding-right: 20px; }

ul.posts li a {
  color: #000;
  text-decoration: none; }

/*****************************************************************************/
/*
/* Post View
/*
/*****************************************************************************/
/* pagination */
#prev,
#next {
  position: fixed;
  text-decoration: none;
  background: #fff;
  border: 1px solid #eee;
  padding: 10px;
  line-height: 1;
  border-radius: 25px;
  bottom: 40px;
  color: #333; }

#prev {
  left: 40px; }

#next {
  right: 40px; }

#prev:active,
#next:active {
  border-color: #39f; }

.nav-title {
  display: none; }

.nav-title-prev {
  margin-left: 10px;
  margin-right: 5px; }

.nav-title-next {
  margin-right: 10px;
  margin-left: 5px; }

#prev:hover .nav-title,
#next:hover .nav-title {
  display: inline; }

.highlight pre {
  border: 1px solid #eee;
  padding: 10px 25px;
  margin: 30px 40px; }
  .highlight pre code span {
    line-height: 150%;
    font-size: 85%; }

.gist {
  margin: 30px 40px; }

/*****************************************************************************/
/*
/* Media Queries
/*
/*****************************************************************************/
/* Viewport width < 920px */
@media only screen and (max-width: 919px) {
  body {
    font-size: 16px; }

  header .h-wrap {
    padding: 40px 30px; }

  #next,
  #prev {
    position: static; }

  #next {
    float: right;
    margin-right: 20px; }

  #prev {
    float: left;
    margin-left: 20px; }

  .nav-title {
    display: inline; }

  ul.posts li .p-wrap {
    padding: 30px; }

  ul.posts li .p-wrap p {
    display: block; }

  ul.posts li .p-wrap:hover {
    padding-left: 40px; }

  ul.posts li .p-wrap:hover::after {
    content: none;
    margin: 0; } }
/* Viewport width < 480px */
@media only screen and (max-width: 479px) {
  body {
    font-size: 15px; }

  header .h-wrap {
    padding: 30px 20px; }

  ul.posts li .p-wrap {
    padding: 20px; }

  ul.posts li .p-wrap:hover {
    background: #67AAF7;
    padding-left: 20px; }

  #off-canvas {
    padding: 0 20px; }

  #off-canvas.toggled {
    padding: 20px; }

  #off-canvas #bio {
    width: 100%; }

  #off-canvas #avatar img {
    width: 120px; }

  section#single-wrap {
    margin: 0 auto; }

  section#single-wrap .single-content {
    padding: 0 20px; }

  section#single-wrap h1.page-title {
    padding: 0 20px;
    margin: 0 0 30px; }

  section#single-wrap p {
    padding: 0 20px; }

  section#single-wrap ul,
  section#single-wrap ol {
    padding: 10px 0 10px 35px; }

  section#single-wrap h1,
  section#single-wrap h2,
  section#single-wrap h3,
  section#single-wrap h4,
  section#single-wrap h5,
  section#single-wrap h6 {
    padding: 0 40px;
    margin-top: 30px; }

  section#single-wrap blockquote {
    padding: 0 20px;
    border-left: 4px solid #39f; } }
kbd {
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  color: #333;
  display: inline-block;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 11px;
  line-height: 1.4;
  margin: 0 .1em;
  padding: .1em .6em;
  text-shadow: 0 1px 0 #fff; }
